@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Itim);
@font-face {
  font-family: Gabriola;
  /* Имя шрифта */
  src: url(/storebot/fonts/ufonts.com_gabriola.ttf);
  /* Путь к файлу со шрифтом */ }
/* line 10, site.css.scss */
.page_header {
  border-bottom: 1px solid red;
  max-width: 200px;
  padding-bottom: 10px;
  margin-bottom: 20px; }

/* line 17, site.css.scss */
.simple-bg {
  padding-top: 10px;
  padding-bottom: 50px;
  background: #fff !important; }

/* line 25, site.css.scss */
.navbar-custom .navbar-nav li {
  border-bottom: 1px solid red;
  margin: 10px; }
  /* line 28, site.css.scss */
  .navbar-custom .navbar-nav li a {
    color: black;
    font-size: 18px; }
    /* line 31, site.css.scss */
    .navbar-custom .navbar-nav li a:hover {
      background-color: #fff;
      color: red; }
    /* line 35, site.css.scss */
    .navbar-custom .navbar-nav li a:focus {
      background-color: #fff;
      color: red; }
    /* line 39, site.css.scss */
    .navbar-custom .navbar-nav li a:active {
      background-color: #fff;
      color: red; }

/* line 48, site.css.scss */
.min_height img {
  width: 90%; }

/* line 52, site.css.scss */
.with_borders {
  border-left: 2px solid #AAB2BD;
  border-right: 2px solid #AAB2BD; }

/* line 58, site.css.scss */
.nav-custom .heading {
  font-size: 20px;
  color: red;
  padding: 10px; }
/* line 63, site.css.scss */
.nav-custom li {
  text-align: center;
  border-radius: 6px;
  background: black;
  border: 2px solid red; }
  /* line 68, site.css.scss */
  .nav-custom li a {
    color: #fff;
    font-size: 18px; }
    /* line 71, site.css.scss */
    .nav-custom li a:hover {
      color: black;
      background: red !important; }

/* line 79, site.css.scss */
.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: red !important;
  color: #fff !important;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px; }

/* line 94, site.css.scss */
.mobile-menu {
  margin: auto;
  margin-bottom: 30px; }
  /* line 97, site.css.scss */
  .mobile-menu li {
    text-align: center;
    border-radius: 6px;
    background: black;
    border: 2px solid red; }
    /* line 102, site.css.scss */
    .mobile-menu li a {
      padding: 5px !important;
      color: #fff;
      font-size: 12px; }
      /* line 106, site.css.scss */
      .mobile-menu li a:hover {
        color: black;
        background: red !important; }

/* line 114, site.css.scss */
.cursive {
  position: relative;
  top: 20px;
  font-family: Gabriola;
  font-size: 60px !important;
  color: black; }
  /* line 120, site.css.scss */
  .cursive:hover {
    color: red !important; }

/* line 125, site.css.scss */
.itim {
  font-family: 'Itim', cursive; }

/* line 129, site.css.scss */
.main {
  min-height: 700px; }

/* line 133, site.css.scss */
.breadcrumb {
  border-bottom: 1px solid red;
  background-color: #fff !important;
  max-width: 250px;
  border-radius: 0 !important; }
  /* line 138, site.css.scss */
  .breadcrumb li {
    font-size: 16px;
    color: black !important; }
    /* line 141, site.css.scss */
    .breadcrumb li a {
      color: black !important; }

/* line 147, site.css.scss */
.btn-custom {
  border-radius: 6px;
  background: black;
  border: 2px solid red !important;
  color: #fff; }
  /* line 152, site.css.scss */
  .btn-custom:hover {
    background: red;
    color: black !important; }

/* line 159, site.css.scss */
.product-card img {
  border: 3px solid gray; }
/* line 162, site.css.scss */
.product-card .b-b {
  border-bottom: 3px solid red; }
/* line 165, site.css.scss */
.product-card p {
  font-size: 13px; }
/* line 168, site.css.scss */
.product-card .panel-heading {
  padding-top: 1px;
  padding-bottom: 1px;
  margin-bottom: -10px; }

/* line 175, site.css.scss */
.footer {
  border-top: 1px solid black; }

/* line 179, site.css.scss */
.input-custom {
  background-color: black !important;
  border: 3px solid red !important;
  color: #fff !important;
  font-weight: bold !important; }

/* line 186, site.css.scss */
.panel-dialog {
  background-color: #fafafa;
  margin-bottom: 5px;
  padding-top: 10px;
  padding-bottom: 10px; }

/* line 193, site.css.scss */
.cart {
  position: relative; }

/* line 197, site.css.scss */
.cart-heading {
  position: absolute; }

/* line 201, site.css.scss */
#mainDiv {
  height: 100px;
  width: 80px;
  position: relative;
  background: #3beadc; }

/* line 208, site.css.scss */
.min_height {
  position: relative; }

/* line 212, site.css.scss */
#borderLeft {
  border-left: 2px solid gray;
  position: absolute;
  top: 30%;
  bottom: 20%; }

/* line 219, site.css.scss */
.header-row {
  max-height: 200px;
  position: relative; }
  /* line 222, site.css.scss */
  .header-row .col {
    float: left;
    width: 33.33333%; }
  /* line 226, site.css.scss */
  .header-row .col-2 {
    position: relative;
    left: -20px; }
  /* line 230, site.css.scss */
  .header-row .col-3 {
    position: relative; }

/* line 235, site.css.scss */
.red-link {
  font-size: 20px;
  color: #333;
  padding-bottom: 5px;
  border-bottom: 1px solid red; }
  /* line 240, site.css.scss */
  .red-link:hover {
    opacity: 0.8;
    text-decoration: none;
    color: #333; }

/* line 247, site.css.scss */
.panel-id {
  border: 1px solid red !important;
  background-color: black !important; }
  /* line 250, site.css.scss */
  .panel-id .panel-heading {
    color: #fff; }
  /* line 253, site.css.scss */
  .panel-id input {
    color: #fff !important;
    background-color: black !important;
    border-radius: 0 !important; }
    /* line 257, site.css.scss */
    .panel-id input:focus {
      border: 3px solid red; }
  /* line 261, site.css.scss */
  .panel-id .text {
    margin-bottom: 10px; }
  /* line 265, site.css.scss */
  .panel-id .icons a {
    font-size: 18px;
    margin: 5px;
    color: #fff; }
    /* line 269, site.css.scss */
    .panel-id .icons a:hover {
      opacity: 0.8;
      text-decoration: none; }

/* line 277, site.css.scss */
.red {
  color: red !important; }

/* line 281, site.css.scss */
.white {
  color: #fff !important; }

/* line 285, site.css.scss */
.min {
  position: relative;
  top: -5px; }

/* line 290, site.css.scss */
.img-red {
  border: 2px solid red; }

/* line 295, site.css.scss */
.links_block a {
  padding-bottom: 5px;
  font-size: 18px;
  color: black;
  border-bottom: 2px solid red;
  margin: 5px; }
  /* line 301, site.css.scss */
  .links_block a:hover {
    text-decoration: none; }

@media screen and (max-width: 640px) {
  /* line 309, site.css.scss */
  .links_block a {
    font-size: 14px; }

  /* line 313, site.css.scss */
  .mobile {
    font-size: 14px; } }
/* line 318, site.css.scss */
.page_subheader {
  max-width: 250px;
  padding-bottom: 10px;
  border-bottom: 1px solid red; }

/* line 324, site.css.scss */
.center {
  width: 150px;
  margin: 40px auto; }

/* line 329, site.css.scss */
.add-color {
  color: #fff !important;
  border: 2px solid red !important;
  background-color: black !important;
  height: 36px !important; }

/* line 336, site.css.scss */
.btn-minuse {
  color: red !important;
  border: 2px solid red !important;
  background-color: black !important;
  border-radius: 0 !important;
  position: relative;
  left: -5px;
  font-weight: bold !important; }

/* line 346, site.css.scss */
.btn-pluss {
  color: red !important;
  border: 2px solid red !important;
  background-color: black !important;
  border-radius: 0 !important;
  position: relative;
  left: 5px;
  font-weight: bold !important; }

/* line 357, site.css.scss */
.tabl .sp td {
  padding-top: 15px !important;
  padding-bottom: 20px !important;
  border-bottom: 1px solid red !important; }

/* line 364, site.css.scss */
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
  padding: 8px !important;
  line-height: 1.42857 !important;
  vertical-align: top !important;
  border-top: 1px solid #fff !important;
  border-bottom: 1px solid red !important; }
